.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 60px;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 10px;
            .leftside{
                cursor: pointer;
                font-size: 20px;
                color: #666666;
            }
            .rightside{
                display:flex;
                gap:10px ;
            }
        }

        .admin-main {
            height: calc(100vh - 40px);
            .user-pagination {
                display: flex;
                justify-content: center;
                // <=>className bootstrap sau: d-flex justify-content-center
            }
        }
    }

}