body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', "Roboto", 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(min-width:1350px) {

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1300px !important;
  }
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }

    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      background-color: #303030;
      color: white;
      height: 40px;

      &.hover {
        background-color: black;
      }
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }

  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 35px;
        font-weight: 600;
      }

      .title-2 {
        font-size: 22px;
      }

      .title-3 {
        button {
          border-radius: 5px;
          padding: 0 15px;
          background-color: #303030;
          color: white;
          height: 40px;
          border: none;

          &.hover {
            background-color: black;
          }
        }
      }
    }
  }

  video {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}