.login-container {
    .header {
        height: 45px;
        text-align: right;
        border: 1px solid red;
    }

    .title {
        font-size: 25px;
        padding: 2px 0;
        text-align: center;
    }

    .welcom {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;

    }

    .content-form {
        border: 1px solid green;

        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }

        button {
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background: black;
        }
    }
}