.signup-container{
    .header {
        height: 45px;
        text-align: right;
        padding: 5px 100px 0 100px;
    }
    button{
        padding: 3px 15px;
        margin-left: 15px;
        border-radius: 5px;
        // background-color: #f9f9f9;
        border: 1px solid;
        &:hover{
            background-color: white;
        }
    }

    .title {
        font-size: 25px;
        padding: 2px 0;
        text-align: center;
    }

    .welcom {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;

    }

    .content-form {
        border: 1px solid green;
        button {
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background: black;
        }
        
        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }
        .pass-group{
            position: relative;
            .icon-eye{
                position:absolute;
                top: 33px;
                right: 10px;
                cursor: pointer;
              }

            }
        .back{
            cursor: pointer;
        }
    }
}